[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "==9.4.0"
pyautogui = "==0.9.53"
pyqt5 = "==5.15.8"
pywin32 = "==305"
opencv-python = "==4.7.0.68"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.8"
